@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	scroll-behavior: smooth;
}

::-webkit-scrollbar{
	width: 0.75rem;
}

::-webkit-scrollbar-track{
	background: white;
	border-radius: 2rem;
	margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb{
	background: theme(colors.dark);
	border: 2px solid white;
	border-radius: 16px;
}